:root {
    --black: black;
}

* {
    font-family: Menlo, Courier, monospace;
    font-size: 12px;
}

a {
    color: blue;
    text-decoration: none;
}

body {
    color: var(--black);
    margin: 0;
    padding-bottom: 100vh;
}

input {
    background-color: transparent;
    border: none;
    color: var(--black);
    height: 100%;
    padding: 0;
    width: calc(100% - 32px);
}

input:focus {
    outline: none;
}

pre {
    margin: 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: calc(100% - 32px);
}

.btn {
    cursor: pointer;
}

.left {
    color: var(--black);
    text-align: center;
    user-select: none;
    width: 32px;
}

.none {
    display: none;
}

.row {
    display: flex;
    line-height: 1.25em;
}

.row:hover {
    background-color: whitesmoke;
}

a.tag {
    color: red;
}
