* {
    color: darkslategray;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    font-size: 12px;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:focus {
    color: blue;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 2em calc(50vw - 40em) 100vh;
}

input {
    background-color: transparent;
    border: none;
    flex: auto;
    height: 15px;
    margin: 0;
    padding: 0;
}

pre {
    margin: 0;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: calc(100% - 32px);
}

:focus {
    outline: none;
}

#message {
    color: red;
}

#swap {
    color: dodgerblue;
    cursor: pointer;
    background: aliceblue;
    border-radius: 4px;
}

.btn {
    cursor: pointer;
}

.caret {
    color: red;
}

.dollar {
    color: violet;
}

.hash {
    color: orange;
}

.left {
    text-align: center;
    user-select: none;
    width: 32px;
}

.original {
    color: orange;
}

.revision {
    color: dodgerblue;
}

.row {
    border-radius: 6px;
    display: flex;
    line-height: 1.25em;
}

.row:not(.swap):hover {
    background-color: aliceblue;
}

.stuff {
    height: 1em;
}

.none {
    display: none;
}
