<!DOCTYPE html>
<html>
    <head>
        <title>Edit {{ item_id }}</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    </head>
    <body>
        <div class="row">
            <a class="left" href="/?until={{ item_id }}">:</a>
            <input id="field" spellcheck="false" value="{{ content }}">
        </div>
        <script>
            const field = document.getElementById('field');
            field.addEventListener('keypress', event => {
                if (event.key !== 'Enter') { return; }
                const body = '{{ item_id }}' + ' ' + field.value;
                fetch('/update', { method: 'POST', body: body })
                .then(response => {
                    window.close() || window.location.reload();
                    window.opener.location.reload();
                });
            });
        </script>
    </body>
</html>
