<!DOCTYPE html>
<html lang="">
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
        <meta charset="utf-8">
        <title>{{ data['title'] }}</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" type="image/svg+xml" href="/static/favicon.svg">
    </head>
    <body>
        <div class="row">
            <a class="left" href="/log">=</a>
            <div>{{ data['count']|safe }}</div>
            <input id="search" spellcheck="false" value="{{ data['q'] }}">
        </div>
        <div class="row">
            <div class="btn left" id="plus">+</div>
            <div id="now"></div>
            <script src="/static/clock.js"></script>
            <input id="add" spellcheck="false">
        </div>
        <div class="stuff"></div>
        <div id="rows">{% for item in data['items'][:1000] %}
            <div class="row" id="{{ item['id'] }}">
                <div class="btn left">{{ item['left'] }}</div>
                <pre>{{ item['line']|link|safe }}</pre>
                <div class="left none">*</div>
                <input class="none" spellcheck="false" value="{{ item['line'] }}">
            </div>{% endfor %}
        </div>{% if data['items']|length > 1000 %}
        <div class="row">
            <div class="left">:</div>
            <pre>OVERFLOW</pre>
        </div>{% endif %}
        <script src="/static/index.js"></script>
    </body>
</html>
