<!DOCTYPE html>
<html>
    <head>
        <title>{{ 'Clutter' if q == '' else q }}</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
    </head>
    <body>
        <div class="row">
            <div class="left">{{ (items|length, 999)|min }}</div>
            <input id="search" spellcheck="false" value="{{ q }}">
        </div>
        <div class="row">
            <div class="left btn" id="plus">+</div>
            <input id="add" spellcheck="false">
        </div>
        <div id="items">{% for item in items[:1000] %}
            <div class="row" id="{{ item[0] }}">
                <div class="left btn">-</div>
                <pre>{{ item|link|safe }}</pre>
                <div class="left none">*</div>
                <input class="none" spellcheck="false" value="{{ item[1] }}">
            </div>{% endfor %}
        </div>{% if items|length > 1000 %}
        <div class="row">
            <div class="left">:</div>
            <pre>OVERFLOW</pre>
        </div>{% endif %}
        <script>
            if (new URLSearchParams(location.search).get('entry')) {
                history.replaceState({}, '', location.href.split('?')[0]);
            }
            const search = document.getElementById('search');
            search.addEventListener('keypress', event => {
                if (event.key !== 'Enter') { return; }
                const q = encodeURIComponent(search.value);
                location.href = '/?q=' + q;
            });
            const add = document.getElementById('add');
            add.addEventListener('keypress', event => {
                if (event.key !== 'Enter') { return; }
                fetch('/add', { method: 'POST', body: add.value })
                .then(response => { location.reload(); });
            });
            const plus = document.getElementById('plus');
            plus.addEventListener('click', event => {
                add.value = search.value;
                add.focus();
            });
            for (const row of document.getElementById('items').children) {
                const edit = row.querySelector('div');
                const pre = row.querySelector('pre');
                const none = row.querySelector('div.none');
                const input = row.querySelector('input');
                const original = input.value;
                edit.addEventListener('click', event => {
                    edit.style.display = 'none';
                    pre.style.display = 'none';
                    none.style.display = 'block';
                    input.style.display = 'block';
                    input.focus();
                    const length = input.value.length;
                    input.setSelectionRange(length, length);
                    row.style.background = 'whitesmoke';
                });
                input.addEventListener('keypress', event => {
                    if (event.key !== 'Enter') { return; }
                    const body = row.id + '\n' + original + '\n' + input.value;
                    fetch('/update', { method: 'POST', body: body })
                    .then(response => response.text())
                    .then(text => {
                        if (text === 'no') { alert('Error!'); }
                        location.reload();
                    });
                });
            };
        </script>
    </body>
</html>
