<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
        <title>{{ data['title'] }}</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" type="image/svg+xml" href="/static/favicon.svg"/>
    </head>
    <body>
        <div class="row">
            <div class="left">=</div>
            <div>{{ data['count']|safe }}</div>
            <input id="search" spellcheck="false" value="{{ data['q'] }}">
        </div>
        <div class="stuff"></div>
        <div class="row swap">
            <div class="left"></div>
            <div id="swap">{{ ('&nbsp;' * 5)|safe }}swap{{ ('&nbsp;' * 5)|safe }}</div>
            <div id="message">&nbsp;{{ data['message']|safe }}</div>
        </div>
        <div class="stuff"></div>
        <div id="rows">{% for item in data['items'] %}
            <div id="{{ item['id'] }}">
                <div class="row">
                    <div class="left">-</div>
                    <pre class="original">{{ item['line'] }}</pre>
                </div>
                <div class="row">
                    <div class="left">+</div>
                    <pre class="revision">{{ item['revision'] }}</pre>
                </div>
                <div class="stuff"></div>
            </div>{% endfor %}
        </div>
        <script src="/static/swap.js"></script>
    </body>
</html>
